<!DOCTYPE html>
<html>
{% load static %}

<head>
    <title>Affix Dashboard</title>
</head>
<link rel="stylesheet" href="{% static "/css/style.css" %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<br>
<br>
<br>

<!-- Date link = https://simpleisbetterthancomplex.com/tutorial/2019/01/03/how-to-use-date-picker-with-django.html -->

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<!-- Fengyuan Chen's Datepicker -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" /> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script> -->

<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'index' %}">Dashboard</a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav mr-auto">
                    <a class="nav-link nav-item active" href="{% url 'rawMaterial' %}">Add raw</a>&nbsp;&nbsp;
                    <a class="nav-link nav-item active" href="{% url 'customer' %}">Customer<span class="sr-only">(current)</span></a>&nbsp;&nbsp;
                    <a class="nav-link nav-item active" href="{% url 'order' %}">New Order<span class="sr-only">(current)</span></a>&nbsp;&nbsp;
                    <a class="nav-link nav-item active" href="{% url 'downloads' %}">Download CSV</a>&nbsp;&nbsp;
                    <a class="nav-link nav-item active" href="{% url 'allOrders' %}">All orders</a>&nbsp;&nbsp;
                    <!-- <a class="nav-link nav-item active" href="#">Link</a> -->
            </ul>
            <form class="form-inline my-2 my-md-0" method='POST'>
                {% csrf_token %}
                <input class="btn btn-warning" type="submit" value="Log Out" name="logout">
            </form>
        </div>
    </nav>

    <div class="container">
        {% block body %}

        {% endblock %}
    </div>



</body>

</html>
